#root, form, .badge{
    display:grid;
    grid-template-columns: 1fr;
}
form, .badge{
    border:solid thin black;
    border-radius: 1cm;
    padding:1cm;
}
@media(min-width:960px){
    form, .badge{
        display:grid;
        grid-template-columns: 1fr 1fr;
        grid-gap:0.5cm
    }
    textarea{
        grid-column: span 2;
        height:auto;
    }
}
