*,
*:before,
*:after {
    box-sizing: border-box;
    margin: 0;
}

.container {
    width: 87vw;
    margin: auto;
    display: flex;
    font-family: 'Muli';
}

nav {
    background: linear-gradient(darkblue, #56C6F4);
}

nav .brand {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

nav .container a {
    color: whitesmoke;
    text-decoration: none;
}

nav .container {
    align-items: center;
    justify-content: space-between;
    padding-bottom: 1em;
}

nav .container ul {
    display: none;
}

nav .container ul li {
    padding: 0px;
    margin: 5px;
    border-radius: 10px;
    white-space: nowrap;
}

nav .container ul li:hover,
nav .container ul li:active {
    background: linear-gradient(darkblue, #56C6F4);
}

nav .container ul li a {
    display: block;
    padding: 1em 1em;
}

nav .container .icon {
    display: block;
}

header {
    color: whitesmoke;
}

#fiji1 {
    background-image: url("./fiji-para.jpg");
    height: 500px;
}

#fiji2 {
    background-image: url("./fiji2.jpg");
    height: 400px;
}

#hawaii1 {
    background-image: url("./hawaii1.jpg");
    height: 300px;
}

#hawaii2 {
    background-image: url("./hawaii2.jpg");
    height: 300px;
}

#tonga1 {
    background-image: url("./tonga1.jpg");
    height: 500px;
}

#tonga2 {
    background-image: url("./tonga2.jpg");
    height: 400px;
}

#tahiti1 {
    background-image: url("./tahiti1.jpg");
    height: 500px;
}

#tahiti2 {
    background-image: url("./tahiti2.jpg");
    height: 400px;
}

#somoa1 {
    background-image: url("./somoa1.jpg");
    height: 500px;
}

#somoa2 {
    background-image: url("./somoa2.jpg");
    height: 400px;
}

.para {
    background-attachment: fixed;
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
}

header .container {
    flex-direction: column;
    justify-content: flex-end;
    align-items: center
}

header h1 {
    font-size: 20vw;
}

main {
    background-color: #56C6F4;
}

main .container {
    flex-direction: column;
    padding-top: 2em;
}

main .container p {
    margin-bottom: 1em;
}

footer {
    background: linear-gradient(#56C6F4, #e1d9c7);
    padding-top: 5em;
    padding-bottom:1em;
}

footer .container {
    flex-direction: row;
}

@media (min-width: 768px) {
    nav .container ul {
        display: flex;
        flex-direction: row;
        list-style-type: none;
        justify-content: space-around
    }
    nav .container .icon {
        display: none;
    }
    #hawaii1 {
        height: 500px;
    }
    #hawaii2 {
        height: 400px;
    }
}