.DS_Store
node_modules
.vscode
warmups/anik/FreshSalonandD25bR05aP01ZL-Arthur5a_mdm.jpg
warmups/anik/IMG_1649salon-spa-littleton-nh-500x307.jpg
warmups/anik/index.html
warmups/anik/main.css
warmups/anik/map.png
warmups/anik/oldboard-bg.jpg
warmups/anik/oldboard-bg1.jpg
warmups/anik/oldboard-bg2.jpg
warmups/anik/oldboard-bg3.jpg
projects/personal-portfolio/IMG_0857.jpg
projects/API Project/keys/ProPublica Data Store.pdf
projects/API Project/keys/Utah Transit Authority.pdf
**data/db/journal/
**data/db/diagnostic.data/
data/db/journal/WiredTigerLog.0000000006
data/db/diagnostic.data/metrics.interim
data/db/diagnostic.data/metrics.interim
