@import url('https://fonts.googleapis.com/css?family=Dosis');
* {
    box-sizing: border-box;
    margin: 0;
}

.container {
    width: 87vw;
    margin: auto;
}
.flex-around{
    display:flex;
    justify-content: space-around
}

body {
    color: rgb(180, 180, 180);
    font-family: 'Dosis', Helvetica, sans-serif;
    background: linear-gradient(to right, rgb(62, 68, 92), rgb(81, 87, 112));
    position: relative;
}

body a {
    color: rgb(180, 180, 180);
    text-decoration: none;
}
p{
    margin-bottom: 1em;
}

#particles{
    position: relative;
    left: 0px;
    top: 0px;
    z-index: -1;
    height: 100vh;
}
#root{
    position: absolute;
    top:0px;
    z-index: 0;
    width:100vw;

}

nav, footer {
    background-color: rgba(0, 0, 0, 0.1);
    padding: 0.2cm;
}


header {
    background-image: url('');
    z-index: 0;
    margin:0.5cm 0 1cm 0;
}

header h1 {
    letter-spacing: 0cm;
}


@media(min-width:576px) {
    header h1 {
        letter-spacing: 0.2cm;
    }
    
}

@media(min-width:768px) {
    header h1 {
        letter-spacing: 0.4cm;
    }
    
}

@media(min-width:922px) {
    header h1 {
        letter-spacing: 0.6cm;
    }
    .grid23{
        display: grid;
        grid-template-columns: 75% 25%;
        grid-gap: 1cm;

    }
}

@media(min-width:1500px) {
    header h1 {
        letter-spacing: 0.8cm;
    }
}

@media(min-width:1875px) {
    header h1 {
        letter-spacing: 1cm;
    }
}