*,
*::before,
*::after {
    box-sizing: border-box;
    font-size: 0px;
}

div {
    height: 200px;
    display: inline-block;
    border: 5px white solid;
    margin: auto;
}

.pink {
    background-color: #F5C6D6;
}
.red {
    background-color: #EE2E84;
}
.blue {
    background-color: #85CFD8;
}
.green {
    background-color: #8DC63F;
}
.orange {
    background-color: #E76E34
}
.all{
    width:100%;
}
.threeFourths{
    width:75%;
}
.oneHalf{
    width:50%;}
.oneQuarter{
    width:25%;

}