*, *::before, *::after{
    box-sizing: border-box;
    margin: 0;
}
article{
    display: grid;
    grid-template-columns: 50px 1fr;
    width:90vw;
    margin: auto;
    margin-bottom: 2cm;

}
.voteBox{
    display:grid;
    grid-template-columns:1fr;
    text-align:center;
    max-height:1px;
}
.comment{
    width:90vw;
    margin: auto;
}
header{
    border-bottom: thick solid black;
}